$primaryFont: "Futura";

.appear {
    color: #fff;
    font-family: $primaryFont;
    opacity: 0;
}

.dropdown {
    color: #fff; // having color & opacity together helps with the appear effect
    opacity: 0;
    text-align: center;
    font-family: $primaryFont;
    position: absolute;
}

.little {
    @extend .appear;
}
